body{
  
  
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;

}
.nothing{
  font-size:160px;
  color:white;
  font-family: 'Anton', sans-serif;
  text-align:center;
}

@keyframes bg-color {
  0% { background-color: black; }
  
  100% { background-color: white; }
}
@keyframes p {
  0% {color:black}
  
  100% { color: white; }
}
